extends template.pug

block content
    div.container
        
        div.schema
            h2 API Schema
            p Go to 3.16.240.250/api/schema to test out the members REST API
            table.action
                each s, i in schema
                    tr
                        each value, key in s
                            td= value