doctype html
html
    head
        block head

        title Members REST API
        link(rel="stylesheet" href="/stylesheets/style.css")

    body
        div#logo-div
            h1#logo Members REST API v1

        section#main
            block content

        footer
            p &copy; 2020 Leonardo Bianconi